Repository yousef8/ibn-elsayed-blog: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,mjs,cjs,ts,tsx,astro}": ["prettier --write", "eslint --fix"],
  "*.{json,md,css,html,yaml,yml}": "prettier --write"
}

fix(dependencies): update vitest and coverage-v8 versions to use tilde range
  package.json
  pnpm-lock.yaml
Due: prettier --write

docs: personalize README
  AstroPaper-lighthouse-score.svg
  README.ar.md
  README.md
Due: prettier --write

feat: don't show back button
  src/config.ts
Due: prettier --write, eslint --fix

feat: base work
  src/assets/covers/astro-cover.webp
  src/components/Card.astro
  src/content.config.ts
  src/data/blog/ar/كيف أنشأت موقعى بواسطة أسترو.md
  src/layouts/PostDetails.astro
Due: prettier --write, eslint --fix

feat(font): use ibm plex sans arabic
  src/i18n/config.ts
  src/styles/global.css
Due: prettier --write, eslint --fix

fix(poem-banner): remove custom font class and use parent font
  src/components/PoemBanner.astro
Due: prettier --write, eslint --fix

feat(poem-banner): remove ornament
  src/components/PoemBanner.astro
Due: prettier --write, eslint --fix

feat: disable back button
  src/config.ts
Due: prettier --write, eslint --fix

refactor(postDetails): always show editPost and tags at the top & remove share links
  src/components/EditPost.astro
  src/layouts/PostDetails.astro
Due: prettier --write, eslint --fix

fix(tag): adjust icon margin for RTL support
  src/components/Tag.astro
Due: prettier --write, eslint --fix

fix(header): change active navigation style to use text-accent
  src/styles/global.css
Due: prettier --write

feat(links): implement a sweeping underline for links instead of dashed one
  src/components/Card.astro
  src/components/Tag.astro
  src/styles/typography.css
Due: prettier --write, eslint --fix

feat: change copy btn to be an icon
  src/layouts/PostDetails.astro
Due: prettier --write, eslint --fix

feat: add new color for headings
  src/components/Header.astro
  src/components/PoemBanner.astro
  src/layouts/PostDetails.astro
  src/styles/global.css
  src/styles/typography.css
Due: prettier --write, eslint --fix

feat: change blog color scheme
  src/styles/global.css
Due: prettier --write

feat(markdown): change shiki themes for syntax highlighting
  astro.config.ts
Due: prettier --write, eslint --fix

feat(style): use variable color-muted as code block bg color
  src/styles/typography.css
Due: prettier --write

feat: remove table of contents
  astro.config.ts
  package.json
  pnpm-lock.yaml
  src/data/blog/ar/كيف أنشأت موقعى بواسطة أسترو.md
  src/styles/typography.css
Due: prettier --write, eslint --fix

feat: use rehype plugin for generating heading links
  astro.config.ts
  package.json
  pnpm-lock.yaml
  src/layouts/PostDetails.astro
  src/styles/typography.css
Due: prettier --write, eslint --fix

refactor(style): refine tailwind styles
  src/styles/typography.css
Due: prettier --write

feat: use astro orange as accent color
  src/styles/global.css
Due: prettier --write

feat: change tag styling to have box instead underline
  src/components/Tag.astro
  src/layouts/PostDetails.astro
Due: prettier --write, eslint --fix

fix: exclude heading-anchors from generic link styling
  src/styles/typography.css
Due: prettier --write

fix: email link in arabic about
  src/data/about/about.ar.md
Due: prettier --write

feat: update about arabic translations
  src/data/about/about.ar.md
  src/i18n/locales/ar.ts
Due: prettier --write, eslint --fix

feat: remove breadcrumb and title from about page
  src/layouts/AboutLayout.astro
Due: prettier --write, eslint --fix

feat: install mdx integration
  astro.config.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: use mdx for about pages intead of md
  src/content.config.ts
  src/data/about/about.ar.mdx
  src/data/about/about.en.mdx
Due: prettier --write, eslint --fix

feat: add headshot image to about pages
  src/assets/images/headshot.jpeg
  src/data/about/about.ar.mdx
  src/data/about/about.en.mdx
Due: none

feat: remove frontmatter for about pages
  src/content.config.ts
  src/data/about/about.ar.mdx
  src/data/about/about.en.mdx
  src/layouts/AboutLayout.astro
  src/pages/[...locale]/about.astro
Due: prettier --write, eslint --fix

feat: remove anchor tag in PoemBanner
  src/components/PoemBanner.astro
Due: prettier --write, eslint --fix

feat: use an image of mine as a favicon
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/favicon.svg
  public/site.webmanifest
  src/layouts/Layout.astro
Due: prettier --write, eslint --fix

feat: add GitHub card component
  astro.config.ts
  package.json
  pnpm-lock.yaml
  public/github-cards.js
  src/components/rehype/GithubCard.ts
  src/layouts/PostDetails.astro
  src/plugins/remark-github-directive.ts
Due: prettier --write, eslint --fix

fix: only style links inside paragraphs and lists for blog posts
  src/styles/typography.css
Due: prettier --write

refactor: update blog post to use new github directive added
  src/data/blog/ar/كيف أنشأت موقعى بواسطة أسترو.md
Due: prettier --write

chore: add test double post and hide it
  src/data/blog/ar/_إختبار.md
Due: prettier --write

feat: add cover image support to blog posts and update Card component
  src/assets/images/astrojs.png
  src/components/Card.astro
  src/content.config.ts
  src/data/blog/ar/كيف أنشأت موقعى بواسطة أسترو.md
  src/layouts/PostDetails.astro
Due: prettier --write, eslint --fix

fix: update card overlay background and icon dimensions for improved visibility
  src/components/Card.astro
Due: prettier --write, eslint --fix
